.column-1,
.column-2 {
  list-style: none;
  padding: 0;
  text-transform: capitalize;
}

.App {
  max-width: 90vmin;
  margin: 3.75vmin auto;
}

.weather-app {
  max-height: 95vh;
  padding: 2.5vmin;
  border: 0.25vmin solid gainsboro;
  border-radius: 20px;
  background-color: #f7f7f7;
}

hr {
  display: block;
}
.Footer {
  font-size: 2vmin;
  line-height: 0.5;
  padding: 0 1vmin;
}
