.column-1,
.column-2 {
  list-style: none;
  padding: 0;
  text-transform: capitalize;
}

.App {
  max-width: 740px;
  margin: 30px auto;
}

.weather-app {
  max-width: 740px;
  margin: 10px auto;
  margin-top: 10vmin;
  margin-bottom: 0;
  padding: 30px;
  border: 1px solid gainsboro;
  border-radius: 7px;
}

.overview {
  margin-top: 10px;
  font-family: "Encode Sans SC", sans-serif;
}

hr {
  display: block;
}
.Footer {
  font-size: 2vmin;
  line-height: 0.5;
  padding: 0 5px;
}
