:root {
  --forecast-color-1: #494747;
}

.daily-forecast {
  text-align: center;
  color: var(--forecast-color-1);
  font-family: "Encode Sans SC", sans-serif;
}

.daily-forecast-date {
  font-size: 16px;
  opacity: 0.6;
}

.daily-forecast-temperature {
  font-size: 13px;
}

.daily-forecast-temperature-min {
  opacity: 0.5;
}
