:root {
  --forecast-color-1: #494747;
}

.DailyForecast {
  text-align: center;
  color: var(--forecast-color-1);
  font-family: "Encode Sans SC", sans-serif;
  line-height: 1.5;
}

.DailyForecast-day {
  font-size: 16px;
  opacity: 0.6;
}

.DailyForecast-temperatures {
  font-size: 13px;
}

.DailyForecast-temperature-min {
  opacity: 0.5;
}
