:root {
  --dark-color: rgba(32, 32, 32);
  --light-color: rgba(237, 235, 235);
  --text-shadow-light-thick: 1px -1px var(--light-color),
    -1px 1px var(--light-color), -1px -1px var(--light-color),
    1px 1px var(--light-color);
  --text-shadow-light-thin: 0.25px -0.25px var(--light-color),
    -0.25px 0.25px var(--light-color), -0.25px -0.25px var(--light-color),
    0.25px 0.25px var(--light-color);
}
.Weather {
  text-shadow: 0.5px -0.5px var(--light-color), -0.5px 0.5px var(--light-color),
    -0.5px -0.5px var(--light-color), 0.5px 0.5px var(--light-color);
  color: var(--dark-color);
  letter-spacing: 1.25px;
}

/* Location Section CSS */
.Location {
  margin-left: 0.5vmin;
}
.City {
  font-size: 7.5vmin;
  line-height: 1;
  margin-bottom: 0px;
  margin-top: 3vmin;
  font-family: "Shrikhand", cursive;
  text-shadow: var(--text-shadow-light-thick);
}
.Date {
  margin-bottom: 0px;
  font-family: "Kanit", sans-serif;
  font-size: 4vmin;
}
.Time,
h3 {
  font-size: 3vmin;
  font-family: "Open Sans Condensed", sans-serif;
  margin-bottom: 3vmin;
  text-shadow: var(--text-shadow-light-thin);
  font-weight: bold;
}

/* Icon & Temperature Section CSS */
.IconTemperature {
  line-height: 0;
  margin-top: 0px;
}
.WeatherIcon {
  margin-right: 2vmin;
  object-fit: cover;
  vertical-align: middle;
}
.IconMain canvas {
  max-width: 13vmin;

}
.CurrentTemp {
  font-size: 13vmin;
  font-weight: bolder;
  text-shadow: var(--text-shadow-light-thick);
}

/* Units */
.Units {
  position: relative;
  font-size: 4.5vmin;
  line-height: 1.2;
  margin-left: 0.75vmin;
}
.UnitsRow {
  display: inline-flex;
  margin: 0;
}
.Units .active {
  font-weight: bolder;
  cursor: none;
  color: var(--dark-color);
  text-shadow: 0.5px -0.5px var(--light-color), -0.5px 0.5px var(--light-color),
    -0.5px -0.5px var(--light-color), 0.5px 0.5px var(--light-color);
}
.Units .active:hover {
  color: var(--dark-color);
  text-shadow: 0.5px -0.5px var(--light-color), -0.5px 0.5px var(--light-color),
    -0.5px -0.5px var(--light-color), 0.5px 0.5px var(--light-color);
}

.FahrenheitLink,
.CelsiusLink {
  text-decoration: none;
  color: var(--light-color);
  text-shadow: 0.5px -0.5px var(--dark-color), -0.5px 0.5px var(--dark-color),
    -0.5px -0.5px var(--dark-color), 0.5px 0.5px var(--dark-color);
  cursor: pointer;
  padding: 0 4px 0 4px;
}
.FahrenheitLink:hover,
.CelsiusLink:hover {
  color: grey;
  text-shadow: 0.5px -0.5px var(--light-color), -0.5px 0.5px var(--light-color),
    -0.5px -0.5px var(--light-color), 0.5px 0.5px var(--light-color);
  font-weight: bolder;
}

/* Weather Details Section CSS */
.Details {
  font-family: "Encode Sans SC", sans-serif;
  margin-top: 3vmin;
  font-size: 2.5vmin;
  color: var(--dark-color);
  font-weight: bold;
  text-shadow: var(--text-shadow-light-thin);
}

.column-1,
.column-2 {
  list-style: none;
  padding: 0;
  text-transform: capitalize;
}
.WeatherDetails ul {
  line-height: 1.5;
  margin-bottom: 6px;
}
