:root {
  --forecast-color-1: #494747;
}

.WeatherForecastDaily,
.WeatherForecastHourly {
  text-align: center;
  color: var(--forecast-color-1);
  font-family: "Encode Sans SC", sans-serif;
  line-height: 1.5;
}

.DailyForecast-day,
.HourlyForecast-time {
  font-size: 16px;
  opacity: 0.6;
}

.DailyForecast-temperatures,
.HourlyForecast-temperature {
  font-size: 13px;
}

.DailyForecast-temperature-min {
  opacity: 0.5;
}
.react-multiple-carousel__arrow {
  background: none !important;
}
.react-multiple-carousel__arrow--right {
  right: calc(1vw - 20px) !important;
}
.react-multiple-carousel__arrow--left {
  left: calc(1vw - 20px) !important;
}
