:root {
  --weather-color-1: #494747;
  --weather-color-2: #666767;
  --weather-color-3: #bdbcb2;
  --weather-color-4: white;
  --location-color-1: #666767;
  --location-color-2: #494747;
}

/* Location Section CSS */
.Location {
  margin-left: 5px;
}
.City {
  font-size: 58px;
  color: var(--location-color-1);
  line-height: 1;
  margin-bottom: 0px;
  margin-top: 14px;
  font-family: "Shrikhand", cursive;
}
.Date {
  margin-bottom: 0px;
  font-family: "Kanit", sans-serif;
  font-size: 26px;
  color: var(--location-color-2);
}
.Time,
h3 {
  color: var(--location-color-1);
  font-size: 18px;
  font-family: "Open Sans Condensed", sans-serif;
  margin-bottom: 12px;
}

/* Icon & Temperature Section CSS */
.IconTemperature {
  line-height: 0;
  margin-top: 0px;
}
.WeatherIcon {
  height: 100px;
  width: 100px;
  margin-right: 10px;
  object-fit: cover;
  vertical-align: middle;
}
.CurrentTemp {
  font-size: 80px;
  font-weight: bolder;
  color: var(--weather-color-1);
}

/* Units */
.Units {
  position: relative;
  font-size: 28px;
  line-height: 1.2;
  color: var(--weather-color-2);
  margin-left: 4px;
}
.UnitsRow {
  display: inline-flex;
  margin: 0;
}
.Units .active {
  font-weight: bolder;
  cursor: not-allowed;
  color: var(--weather-color-1);
}
.Units .active:hover {
  color: var(--weather-color-1);
}
.FahrenheitLink,
.CelsiusLink {
  text-decoration: none;
  color: var(--weather-color-4);
  cursor: pointer;
  padding: 0 4px 0 4px;
}
.FahrenheitLink:hover,
.CelsiusLink:hover {
  color: var(--weather-color-3);
  font-weight: bolder;
}

/* Weather Details Section CSS */
.Details {
  font-family: "Encode Sans SC", sans-serif;
  margin-top: 12px;
}

.column-1,
.column-2 {
  list-style: none;
  padding: 0;
  text-transform: capitalize;
}
.WeatherDetails ul {
  margin-bottom: 2px !important;
}
