:root {
  --forecast-color-1: #494747;
  --primary-color-2: white;
  --accent-color-1: tomato;
}

.WeatherForecastDaily,
.WeatherForecastHourly {
  text-align: center;
  color: var(--forecast-color-1);
  font-family: "Encode Sans SC", sans-serif;
  line-height: 1.5;
}

.DailyForecast-day,
.HourlyForecast-time {
  font-size: 16px;
  opacity: 0.6;
}

.DailyForecast-temperatures,
.HourlyForecast-temperature {
  font-size: 13px;
}

.DailyForecast-temperature-min {
  opacity: 0.5;
}
.react-multiple-carousel__arrow {
  background: none !important;
}
.react-multiple-carousel__arrow--right {
  right: calc(1vw - 20px) !important;
}
.react-multiple-carousel__arrow--left {
  left: calc(1vw - 20px) !important;
}

.DailyHourlyForecast {
  margin-top: 18px;
}
.DailyForecastButton,
.HourlyForecastButton {
  background-color: var(--primary-color-2);
  color: var(--forecast-color-1);
  font-family: "Kanit", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1;
  margin: 0.5px 2px;
  padding: 6px 7px;
  border: none;
  border-radius: 4px;
}
.DailyForecastButton:hover,
.HourlyForecastButton:hover {
  background-color: var(--primary-color-2);
  color: var(--forecast-color-1);
  border: none;
}
.DailyForecastButton.active,
.HourlyForecastButton.active {
  background-color: var(--accent-color-1);
  color: var(--primary-color-2);
  border: none;
  cursor: none;
}
