:root {
  --dark-color: rgba(42, 42, 42) !important;
  --light-color: rgba(237, 235, 235);
}

.WeatherInfo {
  color: var(--dark-color);
  letter-spacing: 1.25px;
  background-color: rgba(250, 247, 247, 0.5);
  border-radius: 3vmin;
  padding: 1.75vmin 2.5vmin;
  margin: 2.25vmin 2vmin 0.25vmin 2vmin;
}

/* Location Section CSS */
.Location {
  margin-left: 0.5vmin;
  margin-top: 1vmin;
}
.City {
  color: var(--dark-color);
  font-size: 7.5vmin;
  line-height: 1;
  margin-bottom: 0px;
  font-family: "Shrikhand", cursive;
}
.Date {
  font-family: "Kanit", sans-serif;
  font-size: 4vmin;
  line-height: 1;
  margin-bottom: 0px;
  text-transform: uppercase;
}
.Time {
  font-size: 3.2vmin;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 0px;
}

/* Icon & Temperature Section CSS */
.Weather {
  line-height: 0;
  margin-top: 1.75vmin;
}

/* Icon CSS */
.WeatherIcon {
  margin-right: 2vmin;
  margin-left: 2vmin;
  object-fit: cover;
  vertical-align: middle;
  display: inline-block;
}
.WeatherIcon canvas {
  max-width: 12vmin;
}

/* Current Temperature CSS */
.TemperatureUnits {
  display: inline-block;
}
.WeatherTemperature {
  display: inline;
}
.CurrentTemp {
  font-size: 13vmin;
  font-weight: bolder;
  display: inline-block;
  vertical-align: middle;
}

/* Units */
.Units {
  font-size: 4vmin;
  line-height: 1.2;
  margin-left: 1.25vmin;
  vertical-align: middle;
  display: inline-block;
}

.Units .active {
  cursor: none;
  color: var(--dark-color);
  font-size: 5vmin;
}
.Units .active:hover {
  color: var(--dark-color);
}

.FahrenheitLink,
.CelsiusLink {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  font-weight: bolder;
}
.FahrenheitLink:hover,
.CelsiusLink:hover {
  color: grey;
  transition: all 0.4s ease-in-out;
}

/* Weather Details Section CSS */
.WeatherDetailsForecast {
  margin-top: 1.75vmin;
  line-height: 1.5;
}

.WeatherDetails {
  font-family: "Kanit", sans-serif;
  font-size: 2.5vmin;
  color: var(--dark-color);
  margin-left: 2vmin;
  text-transform: uppercase;
}
.WeatherDetails ul {
  margin-bottom: 0;
}

.WeatherDetails-column-1,
.WeatherDetails-column-2 {
  list-style: none;
  padding: 0;
}

/* Media Queries */
@media (orientation: portrait) {
  .City {
    margin-bottom: 1vmin;
  }
  .WeatherInfo {
    text-align: center;
  }
  .Units {
    margin-left: 1.5vmin;
    text-align: start;
  }
  .UnitsRow {
    width: min-content;
  }
  .col-6 {
    width: 100%;
  }
  .WeatherDetails {
    margin-left: 0;
    margin: 0.25vmin 0;
  }
  .WeatherIcon {
    display: block;
  }
  .WeatherIcon canvas {
    max-width: 8.5vh;
    margin-bottom: 1vh;
  }
}
