:root {
  --search-color-1: grey;
  --search-color-2: gainsboro;
  --search-color-3: dimgray;
  --dark-color: rgba(42, 42, 42) !important;
}
.Search {
  margin-top: 0.75vmin;
  line-height: 1;
  margin-left: 2vmin;
}

.form-control {
  border-radius: 6px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  height: 5vmin;
  padding: 2vmin;
  font-size: 2.25vmin;
  border: 0.35vmin solid white;
  box-shadow: 2px 2px 15px -5px rgba(69, 69, 69, 0.4);
}
.form-control:focus {
  border: 0.35vmin solid var(--search-color-2);
  box-shadow: 2px 2px 15px -5px rgba(69, 69, 69, 0.4);
}
.form-control:hover {
  border: 0.35vmin solid var(--search-color-2);
  box-shadow: 2px 2px 15px -5px rgba(69, 69, 69, 0.4);
}
.form-column {
  width: 55%;
}
.form-control::placeholder {
  color: var(--search-color-1);
  font-size: 2.5vmin;
}

.search-button {
  color: black !important;
  background-color: var(--search-color-2);
  mix-blend-mode: screen;
  font-size: 2vmin;
  font-weight: bolder;
  line-height: 1;
  margin: 0 auto;
  padding: 1vmin;
  border: 0.45vmin solid var(--search-color-2) !important;
  border-radius: 1.5vmin;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  height: 5vmin;
  width: 12vmin;
  vertical-align: top;
}
.search-button:hover {
  color: var(--search-color-2) !important;
  background: rgba(0, 0, 0, 0);
  transition: all 0.5s ease;
}
.search-column {
  padding: 0 0 0 0.65vmin;
  width: 25%;
}

.current-button {
  width: 7vmin;
  height: 5vmin;
  color: var(--search-color-2);
  border: 0.45vmin solid var(--search-color-2) !important;
  border-radius: 1.5vmin;
  padding: 1vmin;
  vertical-align: top;
  transition: none;
  margin-left: -5px;
}
.current-button svg {
  max-width: 2.5vmin;
  vertical-align: top;
  margin-top: -0.15vmin;
}
.current-button:hover {
  color: black !important;
  background-color: var(--search-color-2);
  mix-blend-mode: screen;
  transition: all 0.5s ease;
}

.current-column {
  padding: 0;
  width: 20%;
}

.WeatherData {
  padding: 2.5vmin 2.5vmin;
  border-radius: 15px;
}

.suggestions-list {
  display: inline !important;
  position: absolute;
  background-color: white !important;
}

.suggestions {
  background-color: white;
}
